<%- include partials/head.ejs -%>
  <body>
    <h1><%= title %></h1>
    <% messages.forEach(message => { %>

      <p><%= message.user %></p>
      <p><%= message.text %></p>
      <p> <%= message.added %></p>
      <br>
    <% }); %>

    <a class="btn btn-primary" href="/new">Add a Message</a>

  </body>
</html>
